%h1 Paramétrage des révisions
%p#notice=notice
= form_for @parametre do |f|
  - if @parametre.errors.any?
    #error_explanation
      %h2= "#{pluralize(@parametre.errors.count, "erreurs ")} empêchant la création du paramétrage :"
      %ul
        - @parametre.errors.full_messages.each do |msg|
          %li= msg
  %h2 Pour les mots
  %table#par
    %tr
    .field
      %td= f.label "Avec un nombre d'essais supérieur ou égal à"
      %td= f.number_field :voc_compteur_min, class: 'compteur'
    %tr
    .field
      %td= f.label 'Révisés pour la première fois à partir du'
      %td= f.text_field :voc_revision_1_min, size: 5
    %tr
      %td Nombre de mots :
      -if @voc_nb > 0
        %td= @voc_nb
      -else
        %td#erreur= 0

  %br
  %h2 Pour les formes verbales
  %table#par
    %tr
    .field
      %td= f.label "Avec un nombre d'essais supérieur ou égal à"
      %td= f.number_field :for_compteur_min, class: 'compteur'
    %tr
    .field
      %td=f.label 'Révisées pour la première fois à partir du'
      %td= f.text_field :for_revision_1_min, size: 5
    %tr
      %td Nombre de formes verbales :
      -if @for_nb > 0
        %td= @for_nb
      -else
        %td#erreur 0
  %br
  .actions
    = f.submit 'Enregistrer'

