%h1 Liste des mots et expressions
%p#notice= notice
-if user_signed_in?
  -user_id = current_user.id
-else
  -user_id = User.where(admin: true).first.id
%table#lettres
  %tr
    -('a'..'z').each do |lettre|
      %td=link_to lettre,mots_path(lettres: lettre)
%br
%table#mots
  %tr
    %th#m_d Mot directeur
    %th#f Francais
    %th#i Italien
    %th#c Compteur
    %th#c_l Créé le
    %th#m_l Modifié le
    %th#lien
    %th#lien
    %th#lien

  - @mots.each do |mot|
    %tr
      %td= mot.mot_directeur
      %td= mot.francais
      %td= mot.italien
      %td= mot.scores_mots.where(user_id: user_id, mot_id: mot.id).first.compteur
      %td= mot.created_at.strftime('%Y/%m/%d')
      %td= mot.updated_at.strftime('%Y/%m/%d')
      %td= link_to 'Voir', mot
      -if @peut_corriger
        %td= link_to 'Corr', edit_mot_path(mot)
      -else
        %tdn
      -if @peut_supprimer
        %td= link_to 'Supp', mot, :method => :delete, :data => { :confirm => 'Supprimer ?' }
      -else
        %td

%br
= paginate @mots
-if @peut_supprimer
  = link_to 'Nouveau', new_mot_path