= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "erreur")} : la catégorie n'a pas pu être mise à jour."
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :numero
    = f.number_field :numero
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Enregistrer'
