%h1 Liste des catégories

%table
  %tr
    %th Numero
    %th Description
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.numero
      %td= category.description
      %td= link_to 'Voir', category
      -if @peut_supprimer
        %td= link_to 'Corr', edit_category_path(category)
        %td= link_to 'Supp', category, :method => :delete, :data => { :confirm => 'Suppression définitive ?' }
      -else
        %td
        %td
%br

= link_to 'Nouvelle catégorie', new_category_path
