<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Italien</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <section id="sidebar-left">
      <%= render 'layouts/gauche' %>
    </section>
    <section id="content">
      <%= yield %>
    </section>
    <section id="sidebar-right">
      <%= render 'layouts/droite' %>
    </section>
  </div>
</body>
</html>
